---
import SectionTitle from "../SectionTitle.astro";
import { getCurrentLanguage } from "../../i18n/getCurrentLanguage";

const t = getCurrentLanguage(Astro.url.pathname);
---

<section class="product-faq">

  <div class="container">

    <SectionTitle
      tag={t.products.faq.tag}
      title={t.products.faq.title}
    />

    <div class="faq-list">

      {
        t.products.faq.items.map((item) => (
          <details class="faq-item">

            <summary>{item.question}</summary>

            <p>{item.answer}</p>

          </details>
        ))
      }

    </div>

  </div>

</section>