---
import SectionTitle from "../SectionTitle.astro";
---

<section class="product-specifications">

  <div class="container">

    <SectionTitle
      tag="Specifications"
      title="Technical Specifications"
    />

    <div class="spec-table-wrapper">

      <table class="spec-table">

        <tbody>

          <tr>
            <th>Product</th>
            <td>Premium Cambodian Cashew Kernels</td>
          </tr>

          <tr>
            <th>Origin</th>
            <td>Cambodia</td>
          </tr>

          <tr>
            <th>Kernel Grades</th>
            <td>
              WW180, WW210, WW240, WW320, WW450,
              LP, SP
            </td>
          </tr>

          <tr>
            <th>Moisture</th>
            <td>Maximum 5%</td>
          </tr>

          <tr>
            <th>Broken Ratio</th>
            <td>According to Grade Standard</td>
          </tr>

          <tr>
            <th>Shelf Life</th>
            <td>24 Months</td>
          </tr>

          <tr>
            <th>Storage</th>
            <td>Store in a cool, dry place.</td>
          </tr>

          <tr>
            <th>Packaging</th>
            <td>
              Retail Pouch / Vacuum Bag / Export Carton
            </td>
          </tr>

          <tr>
            <th>Certification</th>
            <td>Available upon request</td>
          </tr>

        </tbody>

      </table>

    </div>

  </div>

</section>