/* ===========================
   Featured Resources
=========================== */

.featured-resources{

    padding:120px 0;

    background:#faf8f2;

}

.featured-resources-action{

    margin-top:60px;

    text-align:center;

}