/* ===========================
   Related Products
=========================== */

.related-products {

    padding: 100px 0;

}

.related-products .products-grid {

    margin-top: 48px;

}

.related-products .section-title {

    margin-bottom: 0;

}