---
import Header from "../Header.astro";
import Hero from "../Hero.astro";
import About from "../About.astro";
import Products from "../Products.astro";
import Gallery from "../Gallery.astro";
import FeaturedResources from "../FeaturedResources.astro";
import Wholesale from "../Wholesale.astro";
import Footer from "../Footer.astro";
---

<Header />

<main>

  <Hero />

  <About />

  <Products />

  <Gallery />

  <FeaturedResources />

  <Wholesale />

</main>

<Footer />