---
import { getCollection } from "astro:content";

import SectionTitle from "./SectionTitle.astro";
import ResourceGrid from "./resources/ResourceGrid.astro";
import { getCurrentLanguage } from "../i18n/getCurrentLanguage";

const t = getCurrentLanguage(
  Astro.url.pathname
);

const featuredArticles = (
  await getCollection(
    "resources",
    ({ data }) => !data.draft && data.featured
  )
)
.sort(
  (a, b) =>
    b.data.publishDate.getTime() -
    a.data.publishDate.getTime()
)
.slice(0, 3);
---

{
  featuredArticles.length > 0 && (

    <section class="featured-resources">

      <div class="container">

        <SectionTitle
          tag={t.resources.featured.tag}
          title={t.resources.featured.title}
        />

        <ResourceGrid
          articles={featuredArticles}
        />

        <div class="featured-resources-action">

          <a
            href="/resources"
            class="btn btn-primary"
          >
            {t.resources.featured.button}
          </a>

        </div>

      </div>

    </section>

  )
}