---
import SectionTitle from "./SectionTitle.astro";
---

<section id="gallery" class="gallery">

  <div class="container">

    <SectionTitle
      tag="Gallery"
      title="From Farm to Export"
    />

    <div class="gallery-grid">

      <div class="gallery-item large">
        <img
          src="/images/gallery/orchard.jpg"
          alt="Cashew Orchard"
        />
      </div>

      <div class="gallery-item">
        <img
          src="/images/gallery/farmers.jpg"
          alt="Farmers"
        />
      </div>

      <div class="gallery-item">
        <img
          src="/images/gallery/factory.jpg"
          alt="Processing Factory"
        />
      </div>

      <div class="gallery-item">
        <img
          src="/images/gallery/kernels.jpg"
          alt="Premium Kernels"
        />
      </div>

      <div class="gallery-item">
        <img
          src="/images/gallery/packaging.jpg"
          alt="Packaging"
        />
      </div>

      <div class="gallery-item large">
        <img
          src="/images/gallery/export.jpg"
          alt="Export"
        />
      </div>

    </div>

  </div>

</section>