---
import SectionTitle from "./SectionTitle.astro";
import ProductGrid from "./products/ProductGrid.astro";
import { getCurrentLanguage } from "../i18n/getCurrentLanguage";
import { getFeaturedProducts } from "../services/product.service";

const t = getCurrentLanguage(
  Astro.url.pathname
);

const featuredProducts = (
  await getFeaturedProducts()
).slice(0, 3);
---

<section
  id="products"
  class="products"
>

  <div class="container">

    <SectionTitle
      tag={t.productsHome.tag}
      title={t.productsHome.title}
    />

    <ProductGrid
      products={featuredProducts}
    />

  </div>

</section>