---
import { getCollection } from "astro:content";

import SectionTitle from "./SectionTitle.astro";
import ProductGrid from "./products/ProductGrid.astro";

const featuredProducts = (
  await getCollection(
    "products",
    ({ data }) =>
      !data.draft &&
      data.featured
  )
).slice(0, 3);
---

<section
  id="products"
  class="products"
>

  <div class="container">

    <SectionTitle
      tag="Our Products"
      title="Premium Cashew Collection"
    />

    <ProductGrid
      products={featuredProducts}
    />

  </div>

</section>