---
import { getCollection } from "astro:content";

import SectionTitle from "./SectionTitle.astro";
import ProductGrid from "./products/ProductGrid.astro";
import { getCurrentLanguage } from "../i18n/getCurrentLanguage";

const t = getCurrentLanguage(
  Astro.url.pathname
);

const featuredProducts = (
  await getCollection(
    "products",
    ({ data }) =>
      !data.draft &&
      data.featured
  )
).slice(0, 3);
---

<section
  id="products"
  class="products"
>

  <div class="container">

    <SectionTitle
      tag={t.productsHome.tag}
      title={t.productsHome.title}
    />

    <ProductGrid
      products={featuredProducts}
    />

  </div>

</section>