---
import type { CollectionEntry } from "astro:content";
import ResourceCard from "./ResourceCard.astro";

interface Props {
  resources?: CollectionEntry<"resources">[];
}

const {
  resources = []
} = Astro.props;
---

{
  resources.length > 0 && (

    <section class="resources-grid-section">

      <div class="resources-grid">

        {
          resources.map((resource) => (

            <ResourceCard
              resource={resource}
            />

          ))
        }

      </div>

    </section>

  )
}